@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideRight {
  0% { width: 0; opacity: 0; }
  20% { opacity: 1; }
  100% { width: 64px; opacity: 1; }
}

.animate-slide-right {
  animation: slideRight 0.9s ease-out forwards;
}
